@model Geolocation_Portal_Test.Models.user

@{
    ViewBag.Title = "Delete";
}

<h2>Benutzer entfernen</h2>

<h3>Sind Sie sicher, dass Sie diesen Datensatz löschen möchten?</h3>
<div>
    <h4>Benutzerdetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.role_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.role_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.department_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.department_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_password_change)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_password_change)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.create_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.create_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.account_active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.account_active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.login_attempts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.login_attempts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_login)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Löschen" class="btn btn-primary" />
        <a href="@Url.Action("Benutzerverwaltung", "Benutzer")" class="btn btn-primary">Zurück zur Benutzerverwaltung</a>
    </div>
    }
</div>
