@model IEnumerable<Geolocation_Portal_Test.Models.role>

@{
    ViewBag.Title = "Rollenverwaltung";
}

<h1>Rollenverwaltung</h1>
<hr />

<p>
    <a href="@Url.Action("Rollenerstellung", "Benutzer")" class="btn btn-primary">Rolle hinzufügen</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.ActionLink("Bearbeiten", "Rollenbearbeitung", new { id = item.Id }) |
                @Html.ActionLink("Details", "Rollendetails", new { id = item.Id }) |
                @Html.ActionLink("Entfernen", "Rollenentfernung", new { id = item.Id })
            </td>
        </tr>
    }

</table>
