@model Geolocation_Portal_Test.Models.role

@{
    ViewBag.Title = "LoginTest";
}

@if (Session["UserName"] != null)
{
    <h2>Willkommen <b>@Session["UserName"].ToString()</b>!</h2>

    <p>Als "@Html.DisplayFor(model => model.name)" haben Sie auf dem Geolocation Portal der Großen Kreisstadt Mosbach auf folgende Funktionen Zugriff:</p>

    <ul>
        <li><a href="@Url.Action("Profil", "Benutzer")">Profilbearbeitung</a></li>
        @if (Convert.ToInt32(Session["UserRole"]) < 3)
        {
            <li><a href="@Url.Action("Index", "OpenData")">Einsicht in interne Dokumente</a></li>
            <li><a href="@Url.Action("Record", "OpenData")">Hochladen von Dokumenten</a></li>
        }

        @if (Convert.ToInt32(Session["UserRole"]) < 2)
        {
            <li><a href="@Url.Action("Rollenverwaltung", "Benutzer")">Rollenverwaltung</a></li>
            <li><a href="@Url.Action("Benutzerverwaltung", "Benutzer")">Benutzerverwaltung</a></li>
            <li><a href="@Url.Action("Datensatzverwaltung", "OpenData")">Datensatzverwaltung</a></li>
        }
    </ul>
}