
@{
    ViewBag.Title = "Verwaltung";
}

<h1>Portalverwaltung</h1>
<hr />

<p>
    Diese Seite bietet administrative Verwaltungen. Klicken Sie auf einen Eintrag in der Liste, um Änderungen vorzunehmen.
</p>

<p>
    Angemeldeter Benutzer: <b>@Session["UserName"]</b>
</p>

<ul>
    <!-- Rolle: Externer-User -->
    <li><a href="@Url.Action("Profil", "Benutzer")" title="Profilbearbeitung">Profilbearbeitung</a></li>

    @if (Session["UserRole"] != null && Convert.ToInt32(Session["UserRole"]) < 4)
    {
        <!-- Rolle: Interner-User -->
        <li><a href="@Url.Action("Index", "OpenData")" title="Open-Data">Einsicht in interne Dokumente</a></li>
    }

    @if (Session["UserRole"] != null && Convert.ToInt32(Session["UserRole"]) < 3)
    {
        <!-- Rolle: Key-User -->
        <li><a href="@Url.Action("Recorderstellung", "OpenData")" title="Recorderstellung">Erstellen eines Datensatzes</a></li>
        <li><a href="@Url.Action("Recordverwaltung", "OpenData")" title="Recordverwaltung">Datensatzverwaltung</a></li>
    }

    @if (Session["UserRole"] != null && Convert.ToInt32(Session["UserRole"]) < 2)
    {
        <!-- Rolle: Administrator -->
        <li><a href="@Url.Action("Rollenverwaltung", "Benutzer")" title="Rollenverwaltung">Rollenverwaltung</a></li>
        <li><a href="@Url.Action("Benutzerverwaltung", "Benutzer")" title="Benutzerverwaltung">Benutzerverwaltung</a></li>
    }
</ul>

<p>
    Unser <a href="#" title="User-Guide herunterladen">User-Guide</a> hilft Ihnen beim Kennenlernen und Verwenden der Funktionen.
</p>