
@{
    ViewBag.Title = "Verwaltung";
}

<h1>Portalverwaltung</h1>
<hr />

<p>
    Diese Seite bietet administrative Verwaltungen. Klicken Sie auf einen Eintrag in der Liste, um Änderungen vorzunehmen.
</p>

<p>
    Angemeldeter Benutzer: <b>@Session["UserName"]</b>
</p>

<ul>
    <li><a href="@Url.Action("Profil", "Benutzer")" title="">Profilbearbeitung</a></li>
    @if (Session["UserRole"] != null && Convert.ToInt32(Session["UserRole"]) == 1)
    {
        <li><a href="@Url.Action("Benutzerverwaltung", "Benutzer")" title="">Benutzerverwaltung</a></li>
        <li><a href="@Url.Action("Rollenverwaltung", "Benutzer")" title="">Rollenverwaltung</a></li>
        <li><a href="@Url.Action("Recordverwaltung", "OpenData")" title="">Datensatzverwaltung</a></li>
    }
</ul>