@model IEnumerable<Geolocation_Portal_Test.Models.record>

@{
    ViewBag.Title = "Datensatzverwaltung";
}

<h2>Datensatzverwaltung</h2>

<p>
    <a href="@Url.Action("Record", "OpenData")" class="btn btn-primary">Datensatz hinzufügen</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataset_upload)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataset_modified_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.licence_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publisher_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.role_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.record_active)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataset_upload)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataset_modified_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.licence_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.publisher_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.role_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.record_active)
        </td>
        <td>
            @Html.ActionLink("Bearbeiten", "Recordbearbeiten", new { id = item.Id }) |
            @Html.ActionLink("Details", "Recorddetails", new { id = item.Id }) |
            @Html.ActionLink("Entfernen", "Recordentfernung", new { id = item.Id })
        </td>
    </tr>
    }

</table>
