@model IEnumerable<Geolocation_Portal_Test.Models.record>

@{
    ViewBag.Title = "Open-Data der Stadt Mosbach";
}

<h1>Open Data Portal</h1>
<hr />

<div id="toolBar">
    <div>
        <a class="nolink" href="#" id="search_button" title="Suchen"><i class="fa fa-search"></i></a>
        <a class="nolink" href="#" title="Sortieren"><i class="fa fa-sort-amount-asc"></i></a>
        <a class="nolink" href="#" id="filter_button" title="Filtern"><i class="fa fa-filter"></i></a>
        @if (Session["UserRole"] != null && Convert.ToInt32(Session["UserRole"]) < 3)
        {
            <a class="nolink" href="@Url.Action("Recorderstellung", "OpenData")" title="Datensatz hinzufügen"><i class="fa fa-plus"></i></a>
        }
    </div>

    <!-- Beginn der Filterfunktion -->
    <div id="filter_settings" style="display: none; text-align: left;">
        <ul class="list-inline" style="margin: 0;">
            <li class="list-inline-item"><a class="nolink" href="#" id="filter_settings_category_button" title="Nach Kateogiren filtern">Kategorien</a></li>
            <li class="list-inline-item"><a class="nolink" href="@Url.Action("Index", "OpenData", new { restriction_string = "geo_records" })" title="Nach Geo-Datensätzen filtern">Geo-Datensätze</a></li>
            <li class="list-inline-item"><a class="nolink" href="@Url.Action("Index", "OpenData", new { restriction_string = "dia_records" })" title="Nach Diagramm-Datensätzen filtern">Diagramm-Datensätze</a></li>
            <li class="list-inline-item"><a class="nolink" href="#" id="filter_settings_upload_date_button" title="Nach Upload Datum filtern">Nach Upload-Datum filtern</a></li>
            <li class="list-inline-item"><a class="nolink" href="#" id="filter_settings_file_type_button" title="Nach Dateityp filtern">Nach Dateityp filtern</a></li>
        </ul>
    </div>
    <div id="filter_settings_categories" style="display: none; text-align: left;">
        @foreach (var item in ViewBag.category)
        {
            <a href="@Url.Action("Index", "OpenData", new { categoryID = item.Id })"><img class="icon" width="20" height="20" src="~/icons/Category/@item.icon" title="@item.name" /></a>
        }
    </div>
    <div id="filter_settings_upload_date" style="display: none; text-align: left;">
        <ul class="list-inline" style="margin: 0;">
            <li class="list-inline-item"><a class="nolink" href="#">Letzte Woche</a></li>
            <li class="list-inline-item"><a class="nolink" href="#">Letzten Monat</a></li>
            <li class="list-inline-item"><a class="nolink" href="#">Dieses Jahr</a></li>
        </ul>
    </div>
    <div id="filter_settings_file_type" style="display: none; text-align: left;">
        <ul class="list-inline" style="margin: 0;">
            <li class="list-inline-item"><a class="nolink" href="#">.docx</a></li>
            <li class="list-inline-item"><a class="nolink" href="#">.pdf</a></li>
            <li class="list-inline-item"><a class="nolink" href="#">.geojson</a></li>
        </ul>
    </div>
    <!-- Ende der Filterfunktion -->
    <!-- Beginn der Suchfunktion -->
    <div id="search" style="display: none;">
        @using (Html.BeginForm("Index", "OpenData", FormMethod.Post, htmlAttributes: new { @class = "n-column-wrapper" }))
        {
            <input class="float-right form-control" type="search" placeholder="Suchbegriff..." aria-label="Search" name="search" required="required" pattern="[A-Za-z0-9]{1,20}" />
            <button class="btn btn-primary float-right" style="width: 200px; margin-left: 5px;" type="submit" name="submit">Suchen</button>
        }
    </div>
    <!-- Ende der Suchfunktion -->
</div>

<p>
    @if (ViewBag.userInfoMessage != null)
    {
        @ViewBag.userInfoMessage
        if (ViewBag.resetRestriction)
        {
            <a href="@Url.Action("Index", "OpenData")">Alle Datensätze anzeigen</a>
        }
    }
</p>

<div class="card-columns">
    @foreach (var item in Model)
    {
        <div class="card bg-light mb-3" style="max-width: 40rem;">
            <div class="card-block">
                <div class="card-header">
                    <img class="icon" width="20" height="20" src="~/icons/Category/@Html.DisplayFor(modelItem => item.category.icon)" />
                    <a class="nolink" href="@Url.Action("Recorddetails", "OpenData", new { id = item.Id })" title="Details anzeigen">
                        @Html.DisplayFor(modelItem => item.title)
                    </a>

                    @if (Session["UserRole"] != null && Convert.ToInt32(Session["UserRole"]) < 3)
                    {
                        <div class="fa-pull-right">
                            <a class="nolink" href="@Url.Action("Recordbearbeitung", "OpenData")" title="Datensatz bearbeiten"><i class="fa fa-edit"></i></a>
                            <a class="nolink" href="@Url.Action("Recordentfernung", "OpenData", new { id = item.Id })" title="Datensatz löschen"><i class="fa fa-trash"></i></a>
                        </div>
                    }
                </div>
                <div class="card-body">
                    <div class="card-subtitle">
                        <div class="d-flex justify-content-between">
                            <span>
                                <i class="fa fa-calendar"></i>
                                @Html.DisplayFor(modelItem => item.dataset_modified_date.ToString().Split(new char[] { ' ' })[0])
                            </span>
                            <span><i class="fa fa-download"></i> @item.file.Sum(f=>f.download_count)</span>
                            @Html.Partial("_rating", item.rating)
                        </div>
                    </div>
                    <p class="card-text">
                        @if (@Html.DisplayFor(modelItem => item.description).ToString().Length > 100)
                        {
                            // Auf der Übersichtsseite sollen die Beschreibungen nur maximal 100 Zeichen lang sein.
                            // Um Umlaute nach der ToString() Methode beizubehalten, muss der String encodiert werden.
                            string record_description = item.description.ToString();
                            byte[] utf8_bytes = System.Text.Encoding.UTF8.GetBytes(record_description);
                            var description_substring = System.Text.Encoding.UTF8.GetString(utf8_bytes);
                            description_substring = description_substring.ToString().Substring(0, 100);

                            @description_substring
                            <span>...</span>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.description)
                        }
                    </p>
                    <div class="text-right">
                        <a href="@Url.Action("Recorddetails", "OpenData", new { id = item.Id })" title="Details anzeigen">Weiterlesen</a>
                    </div>
                </div>
                <div class="card-footer" style="min-height:50px;">
                    @foreach (var file in item.file)
                    {
                        if (item.geo_data == true)
                        {
                            <a class="nolink float-right ml-2" href="~/GeoData/index/@item.Id" title=""><i class="fa fa-map"></i></a>
                        }
                        else if (item.dia_data == true)
                        {
                            <span><img class="float-right ml-2" width="25" height="25" src="~/icons/@Html.DisplayFor(modelItem => file.file_icon)-icon.png" /></span>
                        }
                        else
                        {
                            <span>
                                <a href="@Url.Action("Download", "OpenData", new { fileName = file.name, recordId = item.Id})">
                                    <img class="float-left mr-2" width="25" height="25" src="~/icons/@Html.DisplayFor(modelItem => file.file_icon)-icon.png" />
                                </a>
                                    
                            </span>
                        }

                    }
                </div>
                <!-- auskommentiert da ansonsten keine weiteren Links auf der card verwendet werden können
                <a href="#" class="stretched-link"></a> -->
            </div>
        </div>
    }
</div> 
<script>

/*
 * Toolbar Einstellungsbereiche ein- und ausblenden.
 * */
jQuery(document).ready(function(){
    jQuery("#filter_button").click(function() {
        if ($("#filter_settings_category_button").hasClass("myactive")) {
            jQuery("#filter_settings_categories").slideToggle("slow");
        }

        if ($("#filter_settings_upload_date_button").hasClass("myactive")) {
            jQuery("#filter_settings_upload_date").slideToggle("slow");
        }

        if ($("#filter_settings_file_type_button").hasClass("myactive")) {
            jQuery("#filter_settings_file_type").slideToggle("slow");
        }

        jQuery("#filter_settings").slideToggle("slow");

        changeActiveState("#filter_button");
    });

    jQuery("#filter_settings_category_button").click(function() {
        jQuery("#filter_settings_categories").slideToggle("slow");

        changeActiveState("#filter_settings_category_button");
    });

    jQuery("#filter_settings_upload_date_button").click(function () {
        jQuery("#filter_settings_upload_date").slideToggle("slow");

        changeActiveState("#filter_settings_upload_date_button");
    });

    jQuery("#filter_settings_file_type_button").click(function () {
        jQuery("#filter_settings_file_type").slideToggle("slow");

        changeActiveState("#filter_settings_file_type_button");
    });

    
    jQuery("#search_button").click(function () {
        jQuery("#search").slideToggle("slow");
    });
});

    /**
     * Diese Methode klappt die Einstellungsboxen wieder ein, wenn ein Eltern-Element eingeklappt wird.
     */
    function changeActiveState(button_id) {
        if ($(button_id).hasClass("myactive")) {
            $(button_id).removeClass("myactive");
        } else {
            $(button_id).addClass("myactive");
        }
    }
</script>
