@model Geolocation_Portal_Test.Models.category

@{
    ViewBag.Title = "Kategorieentfernung";
}

<h1>Entfernen einer Kategorie</h1>
<hr />

<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group row">
        @Html.LabelFor(model => model.parent_id, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.parent_id, new { htmlAttributes = new { disabled = "disabled", @readonly = "readonly", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.parent_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.name, new { htmlAttributes = new { disabled = "disabled", @readonly = "readonly", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.description, new { htmlAttributes = new { disabled = "disabled", @readonly = "readonly", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.icon, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.icon, new { htmlAttributes = new { disabled = "disabled", @readonly = "readonly", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.icon, "", new { @class = "text-danger" })
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Löschen" class="btn btn-primary" />
            <a href="@Url.Action("Kategorieverwaltung", "OpenData")" class="btn btn-primary">Zurück zur Kategorieverwaltung</a>
        </div>
    }
</div>
