@model Geolocation_Portal_Test.Models.record

@{
    ViewBag.Title = "Recordentfernung";
}

<h2>Recordentfernung</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>record</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dataset_upload)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataset_upload)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataset_modified_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataset_modified_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.role_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.role_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.record_active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.record_active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.geo_data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.geo_data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dia_data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dia_data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.location.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.publisher.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.publisher.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.licence.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.licence.name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
