<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Geo-Portal Mosbach</title>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("Styles", false) <!-- Dient zum Nachladen von Stylesheets bei bestimmten Seiten z. B. GeoData -> Index -->
</head>
    <body id="MyBody" onload="checkPageSettings()">
        <header id="MyHeader">
            <nav class="navbar navbar-expand-lg primary-color">
                <a class="nolink navbar-brand" href="@Url.Action("Index", "Home")">
                    <img src="~/Content/Images/logo-mosbach.png" title="Zur Startsete" height="80" alt="">
                </a>

                <div class="align-middle m1-auto order-lg-last">
                    <form class="form-inline mt-md-0">
                        <input class="desktopContentOnly form-control mr-sm-2" type="search" placeholder="Suchbegriff..." aria-label="Search">
                        <a class="nolink mr-sm-2 padding-left-10" href="#" title="Suche starten">
                            <i class="fa fa-search"></i>
                        </a>
                        @if (Session["UserName"] == null)
                        {
                            <a class="nolink mr-sm-2 padding-left-10" href="@Url.Action("Anmelden", "Benutzer")" title="Login">
                                <i class="fa fa-sign-in"></i>
                            </a>
                        }
                        else
                        {
                            <a class="nolink mr-sm-2 padding-left-10" href="@Url.Action("Abmelden", "Benutzer")" title="Logout">
                                <i class="fa fa-sign-out"></i>
                            </a>

                            <a class="nolink mr-sm-2 padding-left-10" href="@Url.Action("Verwaltung", "Home")" title="Administrative Einstellungen">
                                <i class="fa fa-cog"></i>
                            </a>
                        }
                    </form>
                </div>
                <!--
                <button class="btn btn-sm align-middle btn-primary m1-auto mr-3 order-lg-last" type="button">Always visible here!</button>
                    -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="p-2 text-dark" href="@Url.Action("Index", "Home")">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="p-2 text-dark" href="@Url.Action("Index", "OpenData")">Open Data</a>
                        </li>
                        <li class="nav-item">
                            <a class="p-2 text-dark" href="@Url.Action("Index", "FAQ")">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="p-2 text-dark mobileContentOnly" href="@Url.Action("Kontakt", "Home")">Kontakt</a>
                        </li>
                        <li class="nav-item">
                            <a class="p-2 text-dark mobileContentOnly" href="@Url.Action("Impressum", "Home")">Impressum</a>
                        </li>
                        <li class="nav-item">
                            <a class="p-2 text-dark mobileContentOnly" href="@Url.Action("Datenschutz", "Home")">Datenschutz</a>
                        </li>
                        <li class="nav-item">
                            <a class="p-2 text-dark mobileContentOnly" href="@Url.Action("Nutzungsbedingungen", "Home")">Nutzungsbedingungen</a>
                        </li>
                        <li class="nav-item">
                            <a class="p-2 text-dark mobileContentOnly" href="@Url.Action("WeitereGemeindeseiten", "Home")">Weitere Gemeindeseiten</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <main>
            <div class="container">
                @RenderBody()

                <asp:Label id="Label1" runat="server"></asp:Label>
            </div>
        </main>

        <footer>
            <div id="page-settings">
                <h2>Barrierefreiheit</h2>

                <div class="n-column-wrapper">
                    <a class="icon" href="javascript:void(0);" onclick="changeFontSize(true)">
                        <i class="fa fa-text-height"></i>
                        <p>Textgröße</p>
                    </a>

                    <a class="icon" href="javascript:void(0);" onclick="changeColorTheme(true)">
                        <i class="fa fa-adjust"></i>
                        <p>Kontrast</p>
                    </a>
                </div>
            </div>

            <div id="backtotop">
                <a class="nolink" href="#top" title="Nach oben scrollen"><i class="fa fa-arrow-circle-up"></i></a>
                <p>Nach oben</p>
            </div>

            <div id="socialmedia">
                <h2>Social Media</h2>

                <div class="n-column-wrapper">
                    <a class="btn" href="https://www.instagram.com/mosbachpictures/" title=""><img src="~/Content/Images/SocialMedia/instagram.png" alt="" title="Instagram"></a>
                    <a class="btn" href="https://www.facebook.com/Mosbach.Fans/" title=""><img src="~/Content/Images/SocialMedia/facebook.png" alt="" title="Facebook"></a>
                    <a class="btn" href="https://www.twitter.de" title=""><img src="~/Content/Images/SocialMedia/twitter.png" alt="" title="Twitter"></a>
                </div>
            </div>

            <div id="footer-nav">
                <span>@Html.ActionLink("Kontakt", "Kontakt", "Home")</span>
                <span>@Html.ActionLink("Impressum", "Impressum", "Home")</span>
                <span>@Html.ActionLink("Datenschutz", "Datenschutz", "Home")</span>
                <span>@Html.ActionLink("Nutzungsbedingungen", "Nutzungsbedingungen", "Home")</span>
                <span>@Html.ActionLink("Weitere Gemeindeseiten", "WeitereGemeindeseiten", "Home")</span>
            </div>

            <div id="copyright">
                <p>&copy; @DateTime.Now.Year - Große Kreisstadt Mosbach</p>
            </div>
        </footer>

        <script type="text/javascript">
            function checkPageSettings() {
                changeFontSize(false);
                changeColorTheme(false);
            }

            /**
             * This function changes the font size for better Readability. 
             * param btnClicked is necessary so that the font size is only changed when the user clicks the button.
             */
            function changeFontSize(btnClicked) {
                console.log("changeFontSize Method called");

                // Check if session variable exists.
                if (localStorage["is_font_large"] == null) {
                    localStorage["is_font_large"] = false;
                }

                // Parse session variable value to boolean.
                var isFontLarge = JSON.parse(localStorage["is_font_large"]);

                // Check if user clicked the font size button.
                if (btnClicked) {
                    isFontLarge = !isFontLarge;
                    localStorage["is_font_large"] = isFontLarge;
                }

                // Change the font size of the page.
                if (isFontLarge == true) {
                    var newFontSize = "1.6rem";
                } else {
                    var newFontSize = "1rem";
                }

                // Weitere Möglichkeit => Aktuelle Schriftgröße holen und dann multiplizieren...
                $('html').css('font-size', newFontSize);
            }

            /**
             * This function changes the color scheme for better Readability. 
             * param btnClicked is necessary so that the color schema is only changed when the user clicks the button.
             */
            function changeColorTheme(btnClicked) {
                console.log("changeColorTheme Method called");

                // Check if session variable exists.
                if (localStorage["is_colorTheme_changed"] == null) {
                    localStorage["is_colorTheme_changed"] = false;
                }

                // Parse session variable value to boolean.
                var isColorThemeChanged = JSON.parse(localStorage["is_colorTheme_changed"]);

                // Check if user clicked the contrast button.
                if (btnClicked) {
                    isColorThemeChanged = !isColorThemeChanged;
                    localStorage["is_colorTheme_changed"] = isColorThemeChanged;
                }

                // Change the color schema of the page.
                if (isColorThemeChanged == true) {
                    var colorSchema1 = "#f1f1f1";
                    var colorSchema2 = "#ffffff";
                    var colorSchema3 = "#f1f1f1";
                } else {
                    var colorSchema1 = "#e8e8e8";
                    var colorSchema2 = "#d7efff";
                    var colorSchema3 = "#d7efff";
                }

                // Change color of the header elements
                $("#MyHeader").css('background-color', colorSchema3);

                // Change color of the open-data page
                if ($("#toolBar").length) {
                    console.log("toolBar length is true");
                    $("#toolBar").css('background-color', colorSchema1);
                } else {
                    console.log("toolBar length is false");
                }

                // Change color of the footer elemens
                $("#page-settings").css('background-color', colorSchema1);
                $("#socialmedia").css('background-color', colorSchema2);
                $("#backtotop").css('background-color', colorSchema2);
                $("#footer-nav").css('background-color', colorSchema2);
                $("#copyright").css('background-color', colorSchema2);
            }
        </script>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

    </body>
</html>
