<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geo-Portal Mosbach</title>
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="container two-column-wrapper">
            <a href="@Url.Action("Index", "Home")" title="Weiter zur Startseite">
                <div class="logo"></div>
            </a>

            <div class="nav-bar-wrapper">
                <a href="#" title="Suche starten">
                    <i class="fa fa-search"></i>
                </a>

                <a href="@Url.Action("Index", "Benutzer")" title="Weiter zur Loginmaske">
                    <i class="fa fa-user"></i>
                </a>

                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </div>
    </header>

    <nav id="mainNavigationLinks">
        @Html.ActionLink("Home", "Index", "Home", new { @class = "active" }))
        @Html.ActionLink("Open Data", "Index", "OpenData")
        @Html.ActionLink("Geo Data", "Index", "GeoData")
        @Html.ActionLink("FAQ", "Index", "FAQ", new { @title = "Frequently Asked Questions" })

        @Html.ActionLink("Kontakt", "Kontakt", "Home")
        @Html.ActionLink("Impressum", "Impressum", "Home")
        @Html.ActionLink("Datenschutz", "Datenschutz", "Home")
        @Html.ActionLink("Nutzungsbedingungen", "Nutzungsbedingungen", "Home")
        @Html.ActionLink("Weitere Gemeindeseiten", "WeitereGemeindeseiten", "Home")
    </nav>

    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer>
        <div class="page-settings">
            <h2>Barrierefreiheit</h2>

            <div class="n-column-wrapper">
                <a class="btn" href="#">
                    <i class="fa fa-text-height"></i>
                    <p>Textgröße</p>
                </a>

                <a class="btn" href="#">
                    <i class="fa fa-adjust"></i>
                    <p>Kontrast</p>
                </a>
            </div>
        </div>

        <div class="socialmedia">
            <h2>Social Media</h2>

            <div class="n-column-wrapper">
                <a class="btn" href="http://www.instagram.de" title=""><img src="~/Content/Images/SocialMedia/instagram.png" alt="" title=""></a>
                <a class="btn" href="http://www.facebook.de" title=""><img src="~/Content/Images/SocialMedia/facebook.png" alt="" title=""></a>
                <a class="btn" href="http://www.twitter.de" title=""><img src="~/Content/Images/SocialMedia/twitter.png" alt="" title=""></a>
            </div>
        </div>

        <div class="footer-nav">
            @Html.ActionLink("Kontakt", "Kontakt", "Home")
            @Html.ActionLink("Impressum", "Impressum", "Home")
            @Html.ActionLink("Datenschutz", "Datenschutz", "Home")
            @Html.ActionLink("Nutzungsbedingungen", "Nutzungsbedingungen", "Home")
            @Html.ActionLink("Weitere Gemeindeseiten", "WeitereGemeindeseiten", "Home")
        </div>

        <div class="text-center">
            <p>&copy; @DateTime.Now.Year - Große Kreisstadt Mosbach</p>
        </div>
    </footer>

    <script>
        function myFunction() {
            var x = document.getElementById("mainNavigationLinks");

            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
