<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Geo-Portal Mosbach</title>
        <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body id="MyBody" onload="checkPageSettings()">
        <header id="MyHeader">
            <nav class="navbar navbar-expand-md">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img src="~/Content/Images/logo-mosbach.png" height="60" alt="">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="p-2 text-dark" href="@Url.Action("Index", "Home")">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="p-2 text-dark" href="@Url.Action("Index", "OpenData")">Open Data</a>
                        </li>
                        <li class="nav-item">
                            <a class="p-2 text-dark" href="@Url.Action("Index", "GeoData")">Geo Data</a>
                        </li>
                        <li class="nav-item">
                            <a class="p-2 text-dark" href="@Url.Action("Index", "FAQ")">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="p-2 text-dark noTabletDisplay" href="@Url.Action("Kontakt", "Home")">Kontakt</a>
                        </li>
                        <li class="nav-item">
                            <a class="p-2 text-dark noTabletDisplay" href="@Url.Action("Impressum", "Home")">Impressum</a>
                        </li>
                        <li class="nav-item">
                            <a class="p-2 text-dark noTabletDisplay" href="@Url.Action("Datenschutz", "Home")">Datenschutz</a>
                        </li>
                        <li class="nav-item">
                            <a class="p-2 text-dark noTabletDisplay" href="@Url.Action("Nutzungsbedingungen", "Home")">Nutzungsbedingungen</a>
                        </li>
                        <li class="nav-item">
                            <a class="p-2 text-dark noTabletDisplay" href="@Url.Action("WeitereGemeindeseiten", "Home")">Weitere Gemeindeseiten</a>
                        </li>
                    </ul>

                    <div class="noDesktopDisplay nav-tool-bar form-inline mt-2 mt-md-0">
                        <a href="#" title="Suche starten">
                            <i class="fa fa-search"></i>
                        </a>

                        <a href="@Url.Action("Index", "Benutzer")" title="Weiter zur Loginmaske">
                            <i class="fa fa-user"></i>
                        </a>
                    </div>

                    <form class="showOnDesktop form-inline mt-2 mt-md-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </header>

        <main>
            <div class="container">
                @RenderBody()

                <asp:Label id="Label1" runat="server"></asp:Label>
            </div>
        </main>

        <footer>
            <div id="page-settings">
                <h2>Barrierefreiheit</h2>

                <div class="n-column-wrapper">
                    <a class="icon" href="javascript:void(0);" onclick="changeFontSize(true)">
                        <i class="fa fa-text-height"></i>
                        <p>Textgröße</p>
                    </a>

                    <a class="icon" href="javascript:void(0);" onclick="changeColorTheme(true)">
                        <i class="fa fa-adjust"></i>
                        <p>Kontrast</p>
                    </a>
                </div>
            </div>

            <div id="backtotop">
                <a href="#top"><i class="fa fa-arrow-circle-up"></i></a>
                <p>Nach oben</p>
            </div>

            <div id="socialmedia">
                <h2>Social Media</h2>

                <div class="n-column-wrapper">
                    <a class="btn" href="http://www.instagram.de" title=""><img src="~/Content/Images/SocialMedia/instagram.png" alt="" title=""></a>
                    <a class="btn" href="http://www.facebook.de" title=""><img src="~/Content/Images/SocialMedia/facebook.png" alt="" title=""></a>
                    <a class="btn" href="http://www.twitter.de" title=""><img src="~/Content/Images/SocialMedia/twitter.png" alt="" title=""></a>
                </div>
            </div>

            <div id="footer-nav">
                <span>@Html.ActionLink("Kontakt", "Kontakt", "Home")</span>
                <span>@Html.ActionLink("Impressum", "Impressum", "Home")</span>
                <span>@Html.ActionLink("Datenschutz", "Datenschutz", "Home")</span>
                <span>@Html.ActionLink("Nutzungsbedingungen", "Nutzungsbedingungen", "Home")</span>
                <span>@Html.ActionLink("Weitere Gemeindeseiten", "WeitereGemeindeseiten", "Home")</span>
            </div>

            <div id="copyright">
                <p>&copy; @DateTime.Now.Year - Große Kreisstadt Mosbach</p>
            </div>
        </footer>

        <script type="text/javascript">
            function checkPageSettings() {
                changeFontSize(false);
                changeColorTheme(false);
            }

            function changeFontSize(btnClicked) {
                if (localStorage["is_font_large"] == null) {
                    localStorage["is_font_large"] = true;
                }

                console.log("changeFontSize Method called")
                if (btnClicked) {
                    console.log("btnClicked is true")
                    console.log("change is_font_large session variable");
                    if (localStorage["is_font_large"] == "true") {
                        localStorage["is_font_large"] = false;
                        console.log("to false");
                    } else {
                        localStorage["is_font_large"] = true;
                        console.log("to true");
                    }
                }

                if (localStorage["is_font_large"] == "true") {
                    document.documentElement.style.fontSize = "1.6rem";
                    //document.getElementById("MyBody").style.fontSize = "1.6em";
                    console.log("set fontSize to 1.6rem");
                } else {
                    document.documentElement.style.fontSize = "1rem";
                    //document.getElementById("MyBody").style.fontSize = "1em";
                    console.log("set fontSize to 1rem");
                }
            }

            function changeColorTheme(btnClicked) {
                if (localStorage["is_colorTheme_changed"] == null) {
                    localStorage["is_colorTheme_changed"] = true;
                }

                console.log("changeColorTheme Method called")
                if (btnClicked) {
                    console.log("btnClicked is true")
                    console.log("change is_colorTheme_changed session variable");
                    if (localStorage["is_colorTheme_changed"] == "true") {
                        localStorage["is_colorTheme_changed"] = false;
                        console.log("to false");
                    } else {
                        localStorage["is_colorTheme_changed"] = true;
                        console.log("to true");
                    }
                }

                if (localStorage["is_colorTheme_changed"] == "true") {
                    document.getElementById("MyHeader").style.backgroundColor = "#f1f1f1";
                    document.getElementById("page-settings").style.backgroundColor = "#f1f1f1";
                    document.getElementById("socialmedia").style.backgroundColor = "#f1f1f1";
                    document.getElementById("footer-nav").style.backgroundColor = "#f1f1f1";
                    console.log("set backgroundColor to #f1f1f1");
                } else {
                    document.getElementById("MyHeader").style.backgroundColor = "#d7efff";
                    document.getElementById("page-settings").style.backgroundColor = "#a6a6a6";
                    document.getElementById("socialmedia").style.backgroundColor = "#d7efff";
                    document.getElementById("footer-nav").style.backgroundColor = "#d7efff";
                    console.log("set backgroundColor to #d7efff");
                }
            }
        </script>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

    </body>
</html>
